name: PDF Builder

on:
  push:
    branches: [ master ]

jobs:
  build_pdf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create output dir
        run: |
          mkdir output
      - uses: BaileyJM02/markdown-to-pdf@master
        with:
          input_dir: .
          output_dir: output
          images_dir: assets
          image_import: ./assets
          theme: assets/style.css
          build_html: false
      - uses: actions/upload-artifact@master
        with:
          path: output/*
      - name: Upload assets to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -x
          cd output
          assets=()
          for asset in ./*.pdf; do
            assets+=("-a" "$asset")
          done
          hub release create --draft "${assets[@]}" -m "${GITHUB_SHA::7}" "${GITHUB_SHA::7}"
